.category-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 37px;
  margin-left: -23px;
  padding: 0;
  list-style: none;
}

.category-filter__item {
  position: relative;
  margin: 0;
  margin-bottom: 18px;
  margin-left: 23px;

  & .category-filter__btn.active {
    color: $white;
    background-color: $grey;
    cursor: default;

    &::after {
      display: none;
    }
  }
}

.category-filter__btn {
  display: block;
  width: 16.5rem;
  height: 5.5rem;
  padding: 0 1rem;
  border: 1px solid #D6D6D6;
  font-size: 1.8rem;
  font-weight: $font-weight-medium;
  line-height: 5.5rem;
  text-transform: uppercase;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f9f9f9;
  overflow: hidden;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: darken(#f9f9f9, 5%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px solid #D6D6D6;
    background-color: inherit;
  }
}
