.contacts__header {
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.4rem;
  font-weight: $font-weight-bold;
  line-height: (28/24);
  text-transform: uppercase;
  text-align: center;
}

.contacts__title-list {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #D6D6D6;
  list-style: none;

  & > li {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    line-height: (25/18);

    @media (min-width: $screen-sm) {
      width: calc(50% - 10px);
      margin-left: 10px;
    }

    @media (min-width: $screen-md) {
      width: calc(25% - 10px);
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-left: -10px;
    padding-bottom: 60px;
  }
}

.contacts__value-list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  font-size: 1.4rem;
  font-weight: $font-weight-normal;
  line-height: (21/14);
  list-style: none;

  & > li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  position: relative;
  display: block;
  padding-left: 30px;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;

    & > .contacts__icon {
      transform: scale(1.1);
    }
  }
}

.contacts__icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  transition: transform 0.2s linear;
  fill: $grey;
}

.contacts__map-wrapper {
  position: relative;
  padding-bottom: 70%;
}

.contacts__fallback-img,
.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// резервная картинка с картой показывается только при отключенном JS
.no-js .contacts__fallback-img {
  background-image: url("../../assets/img/contact__map.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../../assets/img/contact__map@2x.jpg");
  }
}
