.container {
  position: relative;
  max-width: $screen-lg + 200px;
  margin: 0 auto;
  padding: 0 100px;

  @media (max-width: $screen-md) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (max-width: $screen-sm) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
