.copyright {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border-top: 1px solid $grey;
  color: $grey;
  list-style: none;

  & > li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > li {
      margin-bottom: 0;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.copyright__link {
  font-size: 1.4rem;
  line-height: (21/14);
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--underline {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
