.footer-menu {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: (21/14);
  list-style: none;

  & > li {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-menu__link {
  outline: none;
  text-decoration: none;
  color: $grey;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: (21/14);
}
