.footer {
  padding: 40px 0 20px;

  @media (min-width: $screen-lg - 1) {
    padding-top: 80px;
  }
}

.footer__content {
  display: block;
  margin-bottom: 20px;
  margin-left: -5px;

  @media (min-width: $screen-sm - 1) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-lg - 1) {
    margin-bottom: 40px;
  }
}

.footer__item {
  margin-bottom: 20px;
  margin-left: 5px;

  @media (min-width: $screen-sm - 1) {
    width: 255px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey;
  font-size: 1.8rem;
  font-weight: $font-weight-normal;
  line-height: 1.4;
  text-transform: uppercase;
}
