.product-category {
  padding: 60px 0 70px;

  @media (min-width: $screen-lg - 1) {
    padding: 100px 0 120px;
  }
}

.product-category__head {
  margin-bottom: 40px;

  @media (min-width: $screen-lg - 1) {
    margin-bottom: 60px;
  }
}
