.social {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: -15px;
  padding: 0;
  list-style: none;

  & > li {
    margin-left: 10px;
  }

  & svg {
    transition: transform 0.2s linear;
    fill: $grey;
  }

  &--header {
    margin-left: -10px;
  }

  &--header svg {
    fill: $white;
  }

  &--header .social__link {
    width: 4.4rem;
    height: 4.4rem;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.5rem;
  outline-color: $grey;

  &:hover,
  &:focus {
    & > svg {
      transform: scale(1.1);
    }
  }
}
