.subscribe {
  padding: 60px 0 70px;

  @media (min-width: $screen-lg) {
    padding: 100px 0 135px;
  }
}

.subscribe__content {
  max-width: 600px;
  margin: 40px auto 0;

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    margin-top: 60px;
  }
}

.subscribe__advantage {
  margin: 0;
  margin-left: 1.6rem;
  padding: 0;
  list-style-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.5L7.25 10.6651L7.25 6.33494L11 8.5Z' fill='white'/%3E%3Cpath d='M4.75 2.00481L16 8.5L4.75 14.9952L4.75 2.00481Z' stroke='white'/%3E%3C/svg%3E");

  & > li {
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: (25/18);
    padding-inline-start: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subscribe__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 55px 15px 0;
  padding: 20px 22px;
  outline: 1px solid $white;
  outline-offset: 15px;
  color: $grey;
  background-color: $white;

  @media (min-width: $screen-sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-md) {
    max-width: 410px;
    margin-top: 0;
  }
}

.subscribe__form-input {
  width: 100%;
  margin-right: 0;
  padding: 1.5rem 2rem;
  border: 1px solid #D6D6D6;
  font-size: 1.4rem;
  background-color: $white;

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    color: $grey;
  }

  @media (min-width: $screen-sm) {
    flex-grow: 1;
    width: 20rem;
    margin-top: 0;
  }

  @media (min-width: $screen-md) {
    flex-grow: 0;
    margin-right: 15px;
  }
}

.subscribe__form-btn {
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: $font-weight-medium;
  line-height: (16/14);

  @media (min-width: $screen-sm) {
    margin-top: 0;
    margin-left: 15px;
  }

  @media (min-width: $screen-md) {
    margin-left: 0;
  }
}

.subscribe__send-message {
  display: none;
  width: 100%;
  margin-top: 15px;
  font-size: 1.4rem;
}
