.tumbnail-slider {
  margin-bottom: 20px;

  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }
}

.tumbnail-slider__picture {
  display: block;
  width: 100%;
  height: 51%;
  margin: 0 auto 30px;
  object-fit: cover;

  @media (min-width: $screen-sm) {
    width: 70%;
  }

  @media (min-width: $screen-md) {
    width: 100%;
  }
}

.tumbnail-slider__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  list-style: none;

  & > li {
    width: 30%;
    margin-left: 10px;
  }
}

.tumbnail-slider__link {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.2s linear;

  &:hover,
  &:focus {
    box-shadow: 0 0 8px 0 rgba($black, 0.9);
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
