// Файл с базовымы глобальными настройками стилей

html {
  box-sizing: border-box;
  font-size: 56.25%;

  @media (min-width: $screen-md) {
    font-size: 62.5%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  line-height: 1.4;
  font-family: $main-font;
  font-size: 1.4rem;
  color: $grey;
  background-color: $light-grey;

  &.hide-scroll {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

svg {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  color: $grey;
}
