// Файл с переменными

// Шрифты для проекта
$main-font: "Gilroy", sans-serif;
$main-font-size: 62.5%;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Основные цвета проекта
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey: #333333;
$light-grey: #e5e5e5;

// Значения ширин экранов для адаптивности
$screen-lg: 1110px;
$screen-md: 992px;
$screen-sm: 375px;
