// Файл с переменными

// Шрифты для проекта
$main-font: "Gilroy", "Tahoma", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Основные цвета проекта
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey: #333333;
$light-grey: #e5e5e5;

// Значения ширин экранов для адаптивности
$screen-lg: 1100px;
$screen-md: 800px;
$screen-sm: 485px;

$z-index-header: 100;
$z-index-modal: 110;
