section.container.advantage
  div
    if (isShowAdvantageTitle)
      h2.advantage__title Полное описание товара

    .advantage__text.js-advantage-text
      p.advantage__descr.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum libero hic eius vitae eveniet placeat nam cum aliquam, ab in rem ea officia quam?
        Delectus dignissimos eligendi placeat dicta quae! Iure magnam itaque quo accusamus? Ex, animi. Odit et tempora accusamus, dolor dolores ea nisi!
        Reprehenderit, amet placeat quisquam dolores dolore recusandae eum ipsam quo porro, expedita tempora eius harum provident commodi, maiores impedit ex.
        Velit quisquam dolores ipsam repudiandae asperiores animi dicta deleniti sit, delectus laboriosam cupiditate libero assumenda doloribus voluptate alias deserunt et, vero corporis.
        Non deserunt rerum repudiandae eos possimus corporis perspiciatis totam quibusdam repellat quaerat quia, iste, reprehenderit adipisci aliquam illo dolorem perferendis expedita autem accusamus reiciendis eum in eveniet optio error?
        Qui voluptas reprehenderit nam! Cupiditate, suscipit doloribus. Sit dolore, necessitatibus temporibus porro quos unde facere, doloremque qui, et perferendis alias corrupti doloribus.
      button.advantage__btn-more(type="button", data-swap-block="js-advantage-text", aria-hidden="true") читать полностью

  ul.advantage__list
    -
      var advantageData = [
        {icon: "delivery", text: "Бесплатная доставка"},
        {icon: "list", text: "Индивидуальный дизайн"},
        {icon: "ribbon", text: "Бесплатная примерка"},
        {icon: "jewelry", text: "Личный подход"},
      ]
    for data in advantageData
      li.advantage__item
        +extSvgSprite(`advantage-${data.icon}`, 70, 70)
        span.advantage__item-text= `${data.text}`
