header.header#js-header
  .container
    .header__inner
      span.header__logo
        img(src= '../../assets/img/logo.png', alt= 'Site logo', width= '31', height= '25')
      nav.header__menu.js-nav-menu
        button.menu-toggle-btn.not-active.js-menu-toggle-btn(type= 'button', aria-expanded= 'false', aria-label= 'Toggle navigation', aria-controls= 'mainNavbar')
          span
          span
          span
        ul.nav-menu#mainNavbar
          - var currentUrl= 'home'
          for link in ['home', 'about', 'work', 'process', 'services', 'testimonials', 'contact']
            li.nav-menu__item(class= {active: link === currentUrl})
              a.nav-menu__link.js-menu-link(href= `#${link}`)= link
