extends ../layout/modal.pug

block vars
  - var modalId = 'modal-restore-pas'
  - var modalTitle = 'Получить временный пароль'

block content
  form(action="./", method="post", name="form-remember-password")
    p.modal__input-wrap
      label.modal__label(for="restore-login") Логин
        sup *
      input.modal__input#restore-login(type="text", name="restore-login", required)

    button.button.modal__submit(type="submit") Отправить
