extends ../layout/modal.pug

block vars
  - var modalId = 'modal-singin'
  - var modalTitle = 'Вход на сайт'

block content
  form(action="./", method="post", name="form-singin")
    p.modal__input-wrap
      label.modal__label(for="user-login") Логин
        abbr.modal__info(title="Обязательное поле") *
      input.modal__input#user-login(type="text", name="user-login", required)
    p.modal__input-wrap
      label.modal__label(for="user-password") Пароль
        abbr.modal__info(title="Обязательное поле") *
      input.modal__input#user-password(type="password", name="user-password", required)
    p.modal__input-wrap
      input.visually-hidden.modal__checkbox#user-remember(type="checkbox", name="user-remember")
      label.modal__checkbox-label(for="user-remember") Запомнить меня
    p.modal__input-wrap
      a.modal__link(href="restore-password.html", data-modal-id="modal-restore-pas") Напомнить пароль
    p.modal__input-wrap
      a.modal__link(href="registration.html", target="_blank") Я новый пользователь

    button.button.modal__submit(type="submit") Вход
