ul.product-catalog__list
  - for (var x = 0; x < productInCatalogCount; x++)
    li.product-catalog__item
      a.product-catalog__card(href="product-card.html", title="Подробнее")
        +retinWebpImg("product.jpg", alt="Изображение продукта", width="280", height="220").product-catalog__picture
        .product-catalog__card-title Подвеска
        .product-catalog__brand Dolce & Gabanna
        .product-catalog__price 175 000 ₽
