extends ../layout/default.pug

block vars
  - var isInnerPage = true
  - var currentUrl = 'designer'

block title
  title Дизайнерам

block content
  main
    .container
      h1 Сотрудничество с нами
      p Уважаемые дизайнеры!
      p.
        Компания заинтересована в постоянном расширении ассортиментного ряда.
        Если Ваша компания является поставщиком товарных групп, представленных у нас на сайте, либо Вы считаете, что предлагаемые Вами товары по своей специфике подходят для продажи через наш сайт, мы с радостью рассмотрим любые коммерческие предложения.
        Пожалуйста, заполните форму обратной связи, и в случае заинтересованности, мы свяжемся с Вами в кратчайшие сроки.

