extends ../layout/default.pug

block vars
  - var isInnerPage = true
  - var currentUrl = 'partner'

block title
  title Контрагентам

block content
  main
    .container
      h1 Контрагентам
      h2 Общая информация
      p Став официальным дилером нашей компании, вы получаете такие преимущества сотрудничества:
      ul
        li наши схемы взаимодействия с партнерами отработаны годами, а их продуктивность доказана тысячами заказов;
        li выгодные цены и гибкая система скидок;
        li оперативный обмен бухгалтерской и управленческой информацией и документами по дилерским предложениям;
        li маркетинговая поддержка в виде предоставления бесплатных технических каталогов, буклетов, брошюр, пакетов информационно-технических и рекламно-информационных материалов;
        li всегда актуальные прайс-листы;
        li логистическая поддержка и доставка продукции в любую точку Украины;
        li консультации о сотрудничестве и предоставляемой продукции.

      p.
        Чтобы стать официальным дилером , просто позвоните нам или отправьте свое предложение по электронной почте.
        При отправке письма обязательно указывайте контактную информацию и уточняйте регион, в котором готовы представлять нашу компанию.
        Менеджеры оперативно ответят на все ваши вопросы и создадут максимально выгодные условия для партнерства.

      p.
        Быть нашим официальным представителем — значит начать новый успешный бизнес или существенно расширить свое дело.
        Мы открыты для предложений от потенциальных дилеров, поэтому готовы вместе с вами принимать конструктивные решения, увеличивать объемы продаж и укреплять позиции на рынке.
