extends ../layout/default.pug

block vars
  - var isInnerPage = true
  - var isFallbackModalView = true

block title
  title Восстановить пароль

block content
  main
    .container
      // Будет показано только при отключенном JS, если не откроется аналогичное модальное окно
      include ../includes/modal-restore-pas.pug

block modals
