extends ../layout/default.pug

block vars
  - var isInnerPage = true
  - var currentUrl = 'vacancy'

block title
  title Вакансии

block content
  main
    .container
      h1 Добро пожаловать, наш будущий коллега!

      p.
        Работа в нашей сети магазинов - это работа в Компании, которая всегда в движении.
        Наша компания открывает двери в волшебный мир красоты и предлагает окунуться во множество возможностей.

      p.
        Мы рады всем, кто хочет быть причастным к нашей истории, развитию бренда, быть в тренде и в курсе всех событий.
        Заполняй поле для обратной связи и получай отличную возможность повлиять на развитие компании, получить профессиональные знания и построить успешную карьеру!

      h2 В нашей компании сейчас размещены такие вакансии:

      table
        tbody
          tr
            th Город
            th Вакансия
            th Дата открытия
          tr
            td С. Петербург
            td Продавец-консультант в ювелирный магазин
            td 23.01.2014
          tr
            td С. Петербург
            td Менеджер по учету на производство
            td 23.01.2014
          tr
            td С. Петербург
            td Ювелир (с обучением)
            td 24.01.2014

