include ../utils/mixins.pug

doctype html
html(lang="ru")
  head
    block title
    include ../includes/head.pug

  body
    include ../includes/header.pug

    block content

    include ../includes/footer.pug
    include ../includes/modal-search.pug
    include ../includes/modal-singin.pug
    include ../includes/modal-remember.pug
