include ../utils/mixins.pug

block vars

doctype html
html.no-webp.no-js(lang="ru")
  head
    block title
    include ../includes/head.pug

  body
    include ../includes/header.pug

    block content

    include ../includes/footer.pug

    block modals
      include ../includes/modal-search.pug
      include ../includes/modal-singin.pug
      include ../includes/modal-restore-pas.pug
